<a href="https://colab.research.google.com/github/AmdSyauqy/ASyauqy/blob/main/Praktikum_week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print ("Selamat datang di Toko Maju Jaya")
print ("Senin, 4 September 2023       13.05")
print (" ")

print ("DAFTAR BELANJA:")
item1 = "Sabun"
item2 = "shampo"
item3 = "Mie instant"
item4 = "Detergen"
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1 + harga2 + harga3 + harga4

print(item1 + "= Rp " + str(harga1))
print(item2 + "= Rp " + str(harga2))
print(item3 + "= Rp " + str(harga3))
print(item4 + "= Rp " + str(harga4))

print(" ")
print("Total = Rp "+ str(total))

with open('Kuitansi.txt', 'w') as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya,\n")
        writefile.write(" \n")
        writefile.write("Kuitansi - 4 Septermber 2023\n")
        writefile.write(" \n")
        writefile.write(item1 + "= Rp " + str(harga1) + "\n")
        writefile.write(item2 + "= Rp " + str(harga2) + "\n")
        writefile.write(item3 + "= Rp " + str(harga3) + "\n")
        writefile.write(item4 + "= Rp " + str(harga4) + "\n")
        writefile.write(" \n")
        writefile.write("Total Belanja = Rp " + str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023       13.05

DAFTAR BELANJA:
Sabun= Rp 10000
shampo= Rp 15000
Mie instant= Rp 5000
Detergen= Rp 17500

Total = Rp 47500

In [26]:
with open('Kuitansi.txt', 'r') as readfile:
    print(readfile.read())

Selamat Datang di Toko Maju Jaya,

Kuitansi - 4 Septermber 2023

Sabun= Rp 10000
shampo= Rp 15000
Mie instant= Rp 5000
Detergen= Rp 17500

Total Belanja = Rp 47500

In [ ]:
with open('Kuitansi.txt', 'w') as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya,\n")
        writefile.write(" \n")
        writefile.write("Kuitansi - 4 Septermber 2023\n")
        writefile.write(" \n")
        writefile.write("{item1} = Rp {harga1}\n")
        writefile.write("{item2} = Rp {harga2}\n")
        writefile.write("{item3} = Rp {harga3}\n")
        writefile.write("{item4} = Rp {harga4}\n")
        writefile.write(" \n")
        writefile.write("Total Belanja = {total}")

In [4]:
with open('ahmad.txt', 'w') as writefile:
        writefile.write("Nama   : Ahmad Syauqy Wardani \n")
        writefile.write("Prodi  : Teknologi Informasi \n")
        writefile.write("NPM    : 2440506051 \n")
        writefile.write("Alamat : Potrobangsan \n")
        writefile.write("Hobi   : Bemain Gitar \n")
        writefile.write("Email  : ahmadsyauqy007@gmail.com")

In [12]:
with open('ahmad.txt', 'r') as readfile:
    c = readfile.readlines()
    print(c[0])
    print(c[1])
    print(c[5])

Nama   : Ahmad Syauqy Wardani

Prodi  : Teknologi Informasi

Email  : ahmadsyauqy007@gmail.com

In [13]:
with open('ahmads.txt', 'w') as writefile:
        writefile.write(c[0])
        writefile.write(c[2])
        writefile.write(c[1])
        writefile.write(c[3])

In [14]:
with open('ahmads.txt', 'r') as writefile:
        print(c[0])
        print(c[2])
        print(c[1])
        print(c[3])

Nama   : Ahmad Syauqy Wardani

NPM    : 2440506051

Prodi  : Teknologi Informasi

Alamat : Potrobangsan