<a href="https://colab.research.google.com/github/AmdSyauqy/ASyauqy/blob/main/Praltikum_Week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = ("daoa", 34, "aoa", 4.09, "gataw")

print(n)

('daoa', 34, 'aoa', 4.09, 'gataw')

In [ ]:
n = ("aoa", "daoa", "gataw")
print(n, type(n))

a = ("aoa")
print(a, type(a))

('aoa', 'daoa', 'gataw') <class 'tuple'>
aoa <class 'str'>

In [ ]:
a = {9, 6, 10, 9}
print(a, type(a))

b = {
    "aoa",
    "daoa",
    "gataw"
}
print(b, type(b))

{9, 10, 6} <class 'set'>
{'daoa', 'gataw', 'aoa'} <class 'set'>

In [ ]:
kampus = "Untidar"
print(kampus, type(kampus))

Untidar <class 'str'>

In [ ]:
kampus = "Untidar"
kampus = set(kampus)
print(kampus, type(kampus))

{'a', 'd', 'n', 'U', 't', 'r', 'i'} <class 'set'>

In [ ]:
n = ("aoa",)
print(n, type(n))

('aoa',) <class 'tuple'>

In [ ]:
n = {
    1: "aoa",
    2: "daoa",
    3: "gataw"
}
print(n, type(n))

{1: 'aoa', 2: 'daoa', 3: 'gataw'} <class 'dict'>

In [2]:

mahasiswa = {
    "nama": "Ahmad Syauqy Wardani",
    "kelas": "Rombel 2",
    "tanggal lahir": "Sekian",
    "no hp": "Sekian",
    "alamat": "Sekian",
    "hobi": ["1. Bermain gitar", "2. Bermain game", "3. Tidur"]
}


for key, value in mahasiswa.items():
    if key == "hobi":
        print(f"{key}:")
        for hobi in value:
            print(f" {hobi}")
    else:
        print(f"{key}: {value}")

nama: Ahmad Syauqy Wardani
kelas: Rombel 2
tanggal lahir: Sekian
no hp: Sekian
alamat: Sekian
hobi:
 1. Bermain gitar
 2. Bermain game
 3. Tidur